<script>
$(function() {
  $("#volunteers .pagination a").on("click", function() {
    $.getScript(this.href);
    return false;
  });
})
</script>
<%= will_paginate %>
<table class="volunteer_table" width="100%">
<tr>
  <th>Name</th><th>Email</th><th></th><th></th><th></th>
</tr>
<% if @volunteers.empty? %>
  <tr><td colspan="5">No Volunteers</td></tr>
<% end %>
<% @volunteers.each do |volunteer| %>
<tr class="<%= cycle("odd", "even") %>">
  <td><%= volunteer.full_name %></td>
  <td><%= volunteer.email %></td>
  <td><%= link_to "edit", edit_volunteer_path(volunteer) %></td>
  <td><%= link_to "groups", groups_volunteer_path(volunteer) %></td>
  <td><%= link_to 'remove', volunteer, :confirm => 'Are you sure you want to destroy your account?', :method => :delete %> 
</tr>
<% end %>
</table>
<%= will_paginate %>
