<% provide(:title, "Volunteers") %>
<div>
  <div>
    <fieldset>
      <legend>Volunteers</legend>
      <%= form_tag volunteers_path, :method => 'get', :id => "volunteers_search" do %>
        <div class="form-horizontal">
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", class: "btn btn-medium btn-primary" %>
        </div>
      <% end %>
      <div id="volunteers"><%= render 'volunteers' %></div>
    </fieldset>
  </div>
  <br/>
  <div>
    <%= form_for(@volunteer) do |v| %>
    <%=render 'shared/error_messages', obj: @volunteer%>
    <fieldset>
      <legend>Add Volunteer</legend>
        <%= v.label :first_name %>
        <%= v.text_field :first_name %>

        <%= v.label :last_name %>
        <%= v.text_field :last_name %>

        <%= v.label :email %>
        <%= v.text_field :email%>
        <br/>
        <%= v.submit "Add Volunteer", class: "btn btn-large btn-primary" %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
