<script>
$(function() {
  $("#active_volunteers .pagination a").on("click", function() {
    $.getScript(this.href);
    return false;
  });
})
</script>
<table id="volunteers_table" class="volunteer_table">
  <tr>
    <th>Name</th><th>Email</th><th></th>
  </tr>
  <% @volunteers.each do |v| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= v.full_name %></td>
      <td><%= v.email %></td>
      <td><%= link_to 'remove', remove_volunteer_group_path(@group.id, v.id) %></td> 
    </tr>
  <% end %>
</table>
<%= will_paginate @volunteers, param_name: 'active_page'%>
