<tr class="<%= cycle("odd", "even") %>">
  <td><%= group.name %></td>
  <td><%= group.email %></td>
  <td><%= group.rotation? %></td>
  <td><%= link_to "edit", edit_group_path(group.id) %>
  <td><%= link_to 'remove', group, :confirm => 'Are you sure you want to destroy your account?', :method => :delete %> 
</tr>