<% provide(:title, "Groups") %>
<div>
  <div>
    <fieldset>
      <legend>Groups</legend>
      <div>
        <%= will_paginate %>
        <table class="group_table">
          <tr>
            <th>Name</th><th>Email</th><th>Rotation</th><th></th><th></th><th></th><th></th>
          </tr>
          <%= render @groups, mode: 'edit' %>
        </table>
        <%= will_paginate %>
      </div>
    </fieldset>
  </div>
  <div>
    <%= form_for(@group) do |g| %>
    <%=render 'shared/error_messages', obj: @group%>
    <fieldset>
      <legend>Add Group</legend>
      <div class="span2">
        <%= g.label :name %>
        <%= g.text_field :name %>        

        <%= g.label :email %>
        <%= g.text_field :email%>
        <br/>
        <%= g.submit "Add Group", class: "btn btn-large btn-primary" %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
