<% provide(:title, "Group Volunteers") %>
<h1><%= @group.name %> &lt;<%= @group.email %>&gt;</h1>
<div class="pull-left" style="width:45%;padding:5px;">
  <h3>Current Volunteers</h3>
  <%= form_tag volunteers_group_path(@group), :method => 'get', :id => "active_volunteers_search" do %>
    <%= text_field_tag :active_search, params[:active_search] %>
    <%= hidden_field_tag :avail_search, params[:avail_search], id: "active_avail_search" %>
  <% end %>
  <div id="active_volunteers"><%= render 'active_volunteers' %></div>
</div>
<div class="pull-right" style="width:45%">
  <h3>Available Volunteers</h3>
  <%= form_tag volunteers_group_path(@group), :method => 'get', :id => "avail_volunteers_search" do %>
    <%= text_field_tag :avail_search, params[:avail_search] %><br>
    <%= hidden_field_tag :active_search, params[:active_search], id: "avail_active_search" %>
  <% end %>
  <div id="avail_volunteers"><%= render 'avail_volunteers' %></div>
</div>
<div style="clear:both"></div>
