<h1><%= @group.name %> &lt;<%= @group.email %>&gt;</h1>
<div class="pull-left" style="width:45%;padding:5px;">
<h3>Current Volunteers</h3>
  <table class="group_table">
    <tr>
      <th>Name</th><th>Email</th><th></th>
    </tr>
    <% @volunteers.each do |v| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= v.full_name %></td>
        <td><%= v.email %></td>
        <td><%= link_to 'remove', remove_volunteer_group_path(@group.id, v.id) %></td> 
      </tr>
    <% end %>
  </table>
</div>
<div class="pull-right" style="width:45%">
  <h3>Available Volunteers</h3>
  <table class="group_table">
    <tr>
      <th>Name</th><th>Email</th><th></th>
    </tr>
    <% @unjoined.each do |v| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= v.full_name %></td>
        <td><%= v.email %></td>
        <td><%= link_to 'add', add_volunteer_group_path(@group.id, v.id) %></td> 
      </tr>
    <% end %>
  </table>
</div>
<div style="clear:both"></div>
