<% provide(:title, "Edit Schedules") %>
<h3>Edit <%= @group.name %> volunteers for <%= @formal_date %></h3>
<div>
  <%= form_tag update_schedule_path(@year, @month, @day, @group_id), method: 'post' do %>
    <table class="volunteer_table">
    <% @volunteers.each do |v| %>
      <tr class="<%= cycle("odd", "even") %>">  
        <td><%= check_box_tag "volunteer_ids[]", v.id, @volunteers_serving.include?(v) %></td>
        <td><%= v.full_name %></td>
        <td><%= " <" + v.email + ">" %></td>
      </tr>
    <% end %>
    </table>
    <br/>
    <%= submit_tag 'Save', class: "btn btn-large btn-primary" %>
    <%= link_to 'Back', list_schedule_url(@year, @month, @day), class: "btn btn-large btn-primary" %>
  <% end %>
</div>
