<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Franklin Street Rotation", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/' %></li>          
          <% if signed_in? %>
            <li><%= link_to "Profile", "/profile" %>
            <li><%= link_to "Volunteers", "/volunteers" %>
            <li><%= link_to "Sign out | (#{@current_user.user_name})", signout_path, method: "delete" %>
            </li>
          <% else %>
            <li><%= link_to "Sign in", '/signin' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>